---
layout: default
title: 'Nick Niles - Web Design & Development'
breadcrumb: 'Nick Niles'
---
section#baseline
  .section.typeset
    .single-measure
      img(src="assets/img/bison.svg", alt="Nick Niles Bison").hero
      h1 I’m Nick Niles, 
        br
        | an American designer / art director / web developer / musician and founder of #[a(href='http://pastiche.io', target='_blank') Pastiche GmbH] in Zürich, Switzerland. 

section#baseline
  .section.typeset
    .single-measure
      p.
        I’ve been serving a wide range of clients since 1998. With an MFA in Film Directing from Columbia I enjoy creating rich experiences through motion graphics, animations, and interaction design.        
      p.
        I’m especially interested in the power of high-fidelity interactive prototypes to help teams save time and money.

      h2 Areas of Expertise
      ul
        li Videos and films (animated & live-action) designed to explain, excite and pitch
        li Music composition
        li High-fidelity coded prototypes of digital features & apps
        li Branding & identity design for small-to-medium businesses, startups and campaigns
        li Design & development of corporate & campaign websites

      h2 Select Clients
      ul
        li Google
        li Coca-Cola
        li Samsung
        li Hilton Hotels
        li Swiss Airlines
        li Zürich University of the Arts (ZHdK)
        li Kanton Zürich

      h2 Skills
      ul 
        li Graphic & Interactive Design
        li Branding & Corporate Identity
        li Product Ideation
        li Illustration
        li Film & Video Production
        li 2D & 3D Animation
        li Front-End Development

      h2 More info
      p.
        I live with my wife and son in Zürich, where my music has grown folkier and my long runs shorter. Get in touch: #[a(href="mailto:nick@nickniles.com") nick@nickniles.com]


