---
layout: default
---
section#baseline
  .section.typeset
    .single-measure
      img(src="assets/img/bison.svg", alt="Nick Niles Bison").hero
      h1 {{site.description}}
      ul
        li: a(href="about") About Me
        li: a(href="work") Recent Projects