// Baseline grid demo styles.
// ---------------------------------------

#grid-toggle {
  width:12px;
  height:12px;
  position: absolute;
  background: red;
  display: block;
  cursor: pointer;
  top:12px;
  left:12px;
}
body.show-grid {
  background-image: linear-gradient(to bottom, cyan 0, rgba(255,255,255,0) 1px);
  background-repeat: repeat-y;
  background-size: 100% 1rem;
}
