---
layout: post
title: "Voice Republic"
description: "An online platform for high quality spoken-word content."
image: vr
tags: [web, design, ux, ui, prototype]
---

p.
  #[a(href="https://voicerepublic.com") Voice Republic] is a platform for high-quality spoken content, with headquarters in Zürich and Berlin. It offers a proprietary live-streaming and archiving solution to conferences, lecture series, book fairs and individual podcasters, as well as place for listeners to find thousands of hours of interesting content. Notable appearances on the platform include #[strong Edward Snowden], #[strong Slawoj Zizek] and #[strong Angela Merkel].

img(src="{{"assets/img/vr/vr-home.jpg" | relative_url }}", alt="Voice Republic")
p.caption The Voice Republic home page
img(src="{{"assets/img/vr/vr-merkel.jpg" | relative_url }}", alt="Voice Republic")
p.caption A typical "Talk" page

h2 Background
p.
  Before I joined Voice Republic in the Spring of 2015 as Head of Product Design, the UX had been patched together by a series of freelance designers. It lacked cohesion and features were competing with each other for attention.
img(src="{{"assets/img/vr/talk-page-old-listen.jpg" | relative_url }}", alt="Voice Republic")
p.caption The "Talk" page before the redesign

p.
  At the same time, the team was pivoting away from a collaborative-stage model&mdash;where listeners could request the microphone&mdash;to more of a traditional live-broadcast model. They asked me to join the team in order to give the design a refresh and ensure that all the new features would cohere to the new design.

h2 The Redesign
p.
  We went through lots of different shenanigans...

img(src="{{"assets/img/vr/vr-mock-early.jpg" | relative_url }}", alt="Voice Republic")
p.caption Early redesign concepts

a(href="http://lab27.github.io/vr-foundass/index.html", target="_blank")
  img(src="{{"assets/img/vr/vr-prototype.jpg" | relative_url }}", alt="Responsive Prototype")
p.caption.
  One of the early design deliverables was this #[a(href="http://lab27.github.io/vr-foundass/index.html", target="_blank") responsive demo] to test how the platform could look at various screen sizes.

img(src="{{"assets/img/vr/talk-page-early-design.jpg" | relative_url }}", alt="Voice Republic")
p.caption An early design mockup
p.
  As Head of Product Design at Voice Republic, my role included the following:
ul
  li.
    #[strong Strategy]: I consult the key stakeholders on design and UX enhancements. I work closely with the developers to ensure that design suggestions are realistic to build within the given resources.
  li.
    #[strong Workshops]: Occasionally I lead design workshops to gather requirements and brainstorm solutions.
  li.
    #[strong UX]: I create wireframes and mockups for new features and apps.
  li.
    #[strong Interaction Design & Prototyping]: I deliver browser-based prototypes of each new feature for validation, testing and documentation.
  li.
    #[strong Front-End]: I implement the designs using HAML, JQuery, Rails, SCSS and Clojurescript.

p.
  The Voice Republic site is constantly changing. And with such a small team, it's hard to accomplish even a portion of the things on our roadmap. But I'm happy with lots of the improvements we've made to the UX and design.

p.
  Here are some screenshots showing before/after comparisons of a couple of the pages on the site: