---
layout: page
title: About
permalink: /about/
---
section#baseline
  .section.typeset
    .single-measure
      img(src="{{"assets/img/nick_niles_whitebg.jpg" | relative_url }}", alt="Nick Niles" title="Nick Niles")
      //- .sprite
      h1 Nick Niles
      p.
        I'm a digital product designer and speaker with 20 years’ experience helping multinational corporations and small business reach their goals through thoughtful user-centered design. 
        
      p.
        With my background in digital design and Masters degree in Film Directing from Columbia University, I enjoy telling stories through motion graphics, animations, and rich interactive experiences. 
        
      p.
        I’m especially interested in the power of high-fidelity interactive prototypes to help teams save time and money.

      p These are my main areas of interest...


      h2 UX &amp; UI Design
      p.
        I've had the pleasure of designing a wide variety of websites, products and games over the years, from huge e-learning platforms to smart home apps.
      img(src="{{"assets/img/about/wr-ui1.jpg" | relative_url }}", alt="White Risk UI") 
      p.caption One of the thousands of informational pages on White Risk
      img(src="{{"assets/img/about/prometheus.jpg" | relative_url }}", alt="Smart Home App")
      p.caption Early mockups for a "smart home" app
      h2 UI Prototyping
      p.
        Prototypes make everyone happy! Test users and stakeholders are happy because they get an accurate vision of the final product. Designers are happy because they can respond to feedback with minimal clicks and drags. Developers are happy because the prototype communicates precisely what’s to be built.
      p. 
        Building a prototype of an app, website or feature is a great way to solve a lot of design problems early on, before any expensive production code is written. After some intial sketches and dabbling in Photoshop, Illustrator or Sketch, I tend to dive right into the browser and finish the design in HTML/CSS/Javascript.
      
      h2 Graphic Design
      img(src="{{"assets/img/about/gestohlene.jpg" | relative_url }}", alt="")
      img(src="{{"assets/img/about/origins.jpg" | relative_url }}", alt="")

      h2 Illustration
      p.
        I started my "career" as a designer when my dad brought home one of the early Macintosh computers, when I was a child. I immediately began using MacPaint to draw pictures of my favorite athletes. 

      img(src="{{"assets/img/about/food.jpg" | relative_url }}", alt="")
      p.
        Since then, I've expanded my repertoire to include things like color, for example. 
      img(src="{{"assets/img/about/jj.jpg" | relative_url }}", alt="")

      h2 Motion Graphics
      img(src="{{"assets/img/about/mail.gif" | relative_url }}", alt="Post")
      //- img(src="{{"assets/img/about/safe.gif" | relative_url }}", alt="Post")
      img(src="{{"assets/img/about/senetti.jpg" | relative_url }}", alt="Senetti")
      p.
        You can find some motion graphics and animation samples here: 
        #[a(href='http://niles.ch/#portfolio') niles.ch]

      h2 3D Visualization &amp; Animation
      p.
        For the #[a(href="http://whiterisk.ch", target="_blank") White Risk] project at Atfront AG, I spent the better part of 2 years working in #[a(href="http://maxon.net", target="_blank") Cinema 4D], the popular 3D graphics and animation package. In the process, I learned many techniques in modeling and rendering.
        
      img(src="{{"assets/img/about/wr1.gif" | relative_url }}", alt="")
      p.caption A White Risk chapter menu
      img(src="{{"assets/img/about/kitchen.jpg" | relative_url }}", alt="")
      p.caption Architectural visualization
      h2 Public Speaking
      p.
        I enjoy exchanging knowledge with others through speaking, mentoring, or just meeting casually for coffee. Here's a talk I gave at Frontendconf Zürich:
        
      h2 More info
      p.
        I live with my wife and son in Zürich, where my music has grown folkier and my long runs shorter. I'm part-time Head of Product Design at #[a(href='http://voicerepublic.com', target='_blank') Voice Republic].
