---
layout: default
---
| {% include nav-breadcrumbs.html %}

section#baseline.portfolio
  .section.typeset
    .single-measure
      h1 {{page.title | escape}}
      p.post-date {{ page.date | date: "%-d %B, %Y" }}
      p.caption {{page.description}}
      | {{content}}
